.main-messaging{
    width:60%;
    background: #f2f2f2f2;
    height: 100%;
}
.message-to{
    height:8%;
    background: white;
    margin: 1px;
    padding: 6px;
}

.type-message{
    padding:2px;
    align-items: flex-end;
    margin:7px;
}
.message-display{
    height: 80%;
}